* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Microsoft Sans Serif";
    text-shadow: none !important;
    -webkit-appearance: none !important;
}

* li {
    list-style: none;
}

html {
    background: #fe9037 !important;
}

.headimg {
    margin: 0 auto;
    width: 28%;
    border: 3px solid #9a4f09;
    overflow: hidden;
    border-radius: 100px;
}

.headimg img {
    width: 100%;
    height: 100%;
    float: right;
}

#LeadPage {
    background: #ffe14a;
    height: 100%;
}

#LeadPage .game-title {
    width: 100%;
    display: block !important;
    margin: 0 auto;
}

#LeadPage .gameBack {
    font-size: 13px !important;
    line-height: 18px;
    color: #f76c2e;
    text-shadow: none;
    width: 88%;
    margin: 10px auto;
}

#LeadPage .beginBtn {
    margin: 20px auto;
    width: 42.2%;
}

#LeadPage .beginBtn .imgBtn {
    display: block;
    width: 100%;
    height: 100%;
}

.copyRight {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.copyright {
    text-align: center;
    color: #eb8e39;
    letter-spacing: 2px;
}

.avatar {
  margin: 0 auto;
  margin-top: 3%;
  background: #9b440c;
  padding: 3px;
  border: 5px solid #f4760f;
  width: 45.3125%;
  overflow: hidden;
}
.avatar .imgAvatar {
  width: 100%;
}

#GamePage {
    background: #ffe14a;
    height: 100%;
}

#GamePage .question {
    width: 82%;
    color: #f76c2e;
    margin: 10px auto;
    font-size: 15px;
}

#GamePage .answer3 {
    display: block;
    margin: 15px auto;
    border: 3px solid #cf584b;
    overflow: hidden;
    border-radius: 5px;
}

#GamePage .answer3 li {
    float: left;
    background: #ffffff;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    border-right: 3px solid #cf584b;
    text-align: center;
}

#GamePage .answer2 {
    display: block;
    margin: 15px auto;
    border: 3px solid #cf584b;
    overflow: hidden;
    border-radius: 5px;
}

#GamePage .answer2 li {
    float: left;
    background: #ffffff;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    border-right: 3px solid #cf584b;
    text-align: center;
}

#GamePage .selections {
    display: block;
    margin: 10px auto;
    overflow: hidden;
    margin-bottom: 25px;
}

#GamePage .selections li {
    float: left;
    background: #ffffff;
    margin-top: 10px;
    color: #333333;
    font-weight: 700;
    margin-right: 6px;
    font-size: 20px;
    border: 3px solid #cf584b;
    text-align: center;
    border-radius: 5px;
}

#Introduce {
    background: #ffe14a;
    height: 100%;
}

#Introduce .introWords {
    color: #f76c2e;
    width: 83.9%;
    margin: 10px auto;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    margin-top: 25px;
}

#Introduce .nextBtn {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 2em;
}

#Introduce .nextBtn img {
    width: 100%;
}

#rankPage {
    background: #ffe14a;
    height:100%;
}

#rankPage .rankTitle {
    width: 80%;
    margin: 0 auto;
    display: block;
}

#rankPage .phoneInput {
    display: block;
    width: 56.375%;
    padding: 2% 3%;
    margin: 6% auto;
    border-radius: 4px;
    box-shadow: inset 1px 1px 10px #ccc;
    border: none;
    font-size: 15px;
}

#rankPage .apply,
#rankPage .share {
    height: auto;
    width: 50%;
    margin: 4% auto;
}

#rankPage .apply img,
#rankPage .share img {
    width: 100%;
}

#rankPage .share {
    margin-bottom: 7%;
}

#rankPage .rankWords {
    width: 100%;
    height: 200px;
}

#rankPage .logbox {
    width: 100%;
    margin-top: 12%;
}

#rankPage .rankBox {
    margin-top: 10px;
    height: auto;
    width: 100%;
}

#rankPage .rankBox p {
    color: #ef5a2a;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#rankPage .rankBox p span {
    font-size: 22px;
    margin: 5px;
}

@media (min-width: 390px) {
    .game-title {
        width: 100% !important;
    }
    .gameBack {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .question {
        margin: 30px auto !important;
    }
    .introWords {
        font-size: 14px !important;
        line-height: 20px !important;
    }
}

@media (max-width: 335px) {
    .game-title {
        width: 88% !important;
        margin-top: 4.5% !important;
    }
    #LeadPage .gameBack {
        font-size: 11px !important;
    }
    .avatar {
        width: 40% !important;
    }
    .question {
        font-size: 13px !important;
    }
    .rankBox p {
        line-height: 40px !important;
    }
    .share {
        margin-bottom: 4% !important;
    }
}
